@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .root-container {
        @apply px-6 min-h-screen flex flex-col;
        @apply font-sans;
        @apply bg-snow text-copy-black;
        @apply dark:bg-onyx dark:text-copy-white;
        @apply overflow-x-hidden;

        background-image: url("/topography.svg");
        background-size: 900px;
    }

    .dark .root-container {
        background-image: url("/topography-dark.svg");
    }

    .break-out {
        @apply -mx-6;
    }
}

@layer components {
    .home-page {
        counter-reset: section-count;
    }

    .section-counter::before {
        @apply text-3xl font-normal text-purple dark:text-aquamarine mr-2;

        counter-increment: section-count;
        content: counter(section-count, decimal-leading-zero) ".";
    }

    .main-photo {
        @apply relative;
    }

    .main-photo::before {
        @apply absolute block -top-5 -right-5 w-full h-full;
        @apply border-t-4 border-r-4 border-purple dark:border-aquamarine;

        content: "";
    }
}

.animated-ellipsis::after {
    display: inline-block;
    animation: ellipsis steps(1, end) 2s infinite;
    content: "";
}

@keyframes ellipsis {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }

    100% {
        content: "";
    }
}
